body {
	font-family: 'Montserrat', sans-serif;
}

header {
	padding: 10px 10px;
}

.area-superior {
	position: relative;
	width: 940px;
}

nav {
	position: absolute;
	top: 40px;
	right: 5%;
}

nav li {
	display: inline;
	margin: 0 0 0 30px;
	text-align: center;
}

nav a {
	color: #1351d8;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}


.imagem-lancamento {
	width: 80%;
	margin: 1em 0;
	box-shadow: 2px 2px 3px #000000;
}

.area-central {
	box-shadow: inset 0 0 20px 5px #F5F5F5;
	text-align: center;
	padding-bottom: 1em;
	font-weight: bold;
}

footer {
	background: #1b357e;
	color: white;
	padding: 20px 20px 20px 5px;
}

.rodape {
	display: inline-block;
	width: 30%;
	vertical-align:bottom;
	margin: 0 1.5%;
}

div h2{
	display: inline-block;
	padding-bottom: 7px;
	vertical-align: bottom;
		
}

.redes-sociais{
	width: 30px;
	
}

.copyright {
	text-align: center;
	font-size: 12px;
}

.logo-rodape {
	margin-left: 270px;
}

/*Lançamento*/

.video {
	width: 100%;
	margin: 0 auto;
	background: #000000;
	text-align: center;
}

.veiculos {
	width: 940px;
	margin: 0 auto;
}

.veiculos li {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
}

.tamanho-carro {
	width: 100%;
}

.descricao-carros {
	display: inline-block;
	width: 90%;

}

.descricao-carros input, .descricao-carros label {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}

.checkbox {
	margin: 0 4px 5px 0;
	width: 25px;
	height: 25px;
}


.descricao-geral {
	width: 70%;
	
}

.carro-descricao {
	font-size: 10px;
	color: #1351d8;
	font-weight: bold;

}

.carro-preco {
	font-size: 8px;
	font-weight: bold;
}

.info {
	display: inline-block;
	margin-left: -5px;
	vertical-align: bottom;
	
}

.comparar {
	width: 20%;
	padding: 15px 0;
	background: #1351d8;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin: 20px 535px;
}

/*Contato*/

.area-contato {
	box-shadow: inset 0 0 20px 5px #F5F5F5; 
	padding: 100px 0 100px 0;
}

.carro-contato {
	display: inline-block;
	vertical-align: top;
	margin-left: 300px;
}

.formulario-principal{
	display: inline-block;
	width: 470px
}

.titulo-forms {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
}

.input-padrao {
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px 25px;
	width: 70%;
	border-radius: 10px;
	border-width: 1px;
}

.selecao{
	margin-bottom: 10px;
	font-weight: bold;
}

.tipo-contato{
	width: 82%;
	font-size: 15px;
	padding: 5px 0 5px 5px;
	border-radius: 10px;
	border-width: 1px;
	margin-bottom: 10px;
}

.fieldset-contato legend, .input-padrao, .fieldset-contato textarea{
	display: block;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: #1351d8;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 10px;
	transition: 1s all;
	cursor: pointer;
	display: block;
	margin: 10px 195px;
}

.enviar:hover {
	background: #1b357e;
	transform: scale(1.2);
}

/*Design Responsivo*/

@media screen and (max-width: 480px){

	header{
		margin: 10px 0 10px 0;
	}

	.area-superior {
		width: auto;
	}

	h1 {
		text-align: center;
		margin-bottom: 15px;
	}

	nav {
		position: static;
	}

	nav a {
		font-size: 18px;
	}

	.area-central {
		padding: 15px 0 20px 0;
	}

	.rodape {
	    display: block;
	    margin-left: 130px;
	    margin-bottom: 20px;
	    margin-top: 10px;
	    text-align: center;
	}

	.logo-rodape {
	    margin-left: 0px;
	}

	/*lançamento*/

	.veiculos {
    width: auto;
	}

	.veiculos li {
    	display: block;
    	width: auto;
    }

    .botao-comparar {
    	text-align: center;
    }

    .comparar {
    	width: 40%;
		margin: 20px auto;
	}

	/*contato*/

	.carro-contato {
	    display: block;
	    vertical-align: top;
	    margin: 0 auto;
	}

	.formulario-principal {
	    display: block;
	    padding: 10px 20px;
	    width: auto;
	}

	.enviar {
		margin: 20px auto;
	}

}
